<div class="container">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" *ngIf="licenseError">
              
              <span *ngIf="licenseError.error !== undefined || licenseError.error.error !== undefined">
                {{ this.licenseError.error.description}}
              </span>
            
            </div>
        </div>
      </div>
    <app-cloud-license [licenseCloud]="licenseCloudTableArray"></app-cloud-license>
    

    <br>
    
    <app-mobile-license [licenseMobile]="licenseMobileTableArray"></app-mobile-license>


</div>