.inputcontrol {
    margin-top: 10px;
    padding-bottom: 11px;
}

#help-input{
    margin-bottom: 10px;
}

.labelinput{
    margin-bottom: 0px;
}

.inputbotton{
    margin-top: 29px;
}

tr, td {
    text-align: center;
}

.modal-content {
    width: fit-content;
}
