<ng-template #CloudLicense let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Mobile license</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">


            <table class="table">
                <thead></thead>
                <tbody>


                    <tr>
                        <td>Chiave licenza</td>
                        <td>{{ licenseMobile.dsLicenseKey }}</td>
                    </tr>

                    <tr>
                        <td>Data Attivazione</td>
                        <td>{{ licenseMobile.dsLicenseActivation}}</td>
                    </tr>

                    <tr>
                        <td>Data Termine</td>
                        <td>{{ licenseMobile.dsLicenseExpiration }}</td>
                    </tr>

                    <tr>
                        <td>Numero massimo Utenti per Licenza</td>
                        <td>{{ licenseMobile.nmLicenseMaxUsers }}</td>
                    </tr>

                    <tr>
                        <td>Numero slot disponibili</td>
                        <td>{{ licenseMobile.nmLicenseFree }}</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-#e26868"
                    (click)="modal.dismiss('Cross click')">Close</button>


            </div>
        </div>
    </div>


</ng-template>
<div class="row">
    <div class="col-sm-1">
        <button type="button"  class="btnMod btnMod1 mb-2 mr-2 btn-lg" (click)="openModal(CloudLicense)">
            Mobile license
        </button>
    </div>
</div>