
.table3 th{
    font-style:black;
    
}

.table3 {
   text-decoration-color: #2D2020;
        border-radius: 10px;
border-spacing: 0;
text-align: center;
font-style: italic;
color:black;

}


.table3 th {
background: #eebcad;
color:#f6ddd5 ;

text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
color:black;}

.table3 th, .table3 td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
color:black;
}

.table3 th:first-child, .table3 td:first-child {
text-align: left;
color:black;}

.table3 th:first-child {
border-top-left-radius: 10px;
color:black;}

.table3 th:last-child {
border-top-right-radius: 10px;
border-right: none;
font-style:black;
}

.table3 td {
padding: 10px 20px;
background: #d8b4b0;
color:black;}

.table3 tr:last-child td:first-child {
border-radius: 0 0 0 10px;
font-style:black;
}

.table3 tr:last-child td:last-child {
border-radius: 0 0 10px 0;
color:black;
}

.table3 tr,  .table3 td:last-child {
border-right: none;
color:black;
}

a {
    color: black;
}

a:link, a:visited, a:active, a:hover {
    color: #51cbce;
    text-decoration: underline;
}

#link-position {
    color: #51cbce;
}