<div class="row">
  <div class="col">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Allarmi</h5>
        <p class="card-category">Tabella Allarmi:</p>

      </div>
      <div class="card-body ">
        <div class="table-responsive">
          <table class="table3">

            <tr>
              <td>ID-ALLARM</td>
              <td>DATA</td>
              <td>ORA</td>
              <td>TIPO DI ALLARME</td>
              <td>USERNAME</td>

              <td>ALIAS</td>
              <td>TELEFONO</td>
              <td>POSIZIONE</td>


            </tr>
            <tr *ngFor="let u of allarms ">
              <td>{{u.idAllarm}}</td>
              <td>{{u.date}}</td>
              <td>{{u.time}}</td>
              <td>{{u.allarmType}}</td>
              <td>{{u.user}}</td>
              <td>{{u.alias}}</td>
              <td>{{u.phone}}</td>
              <td><a color="red"
                href="https://www.google.com/maps/search/?api=1&query={{u.position}}">posizione 2</a>
            </td>
            </tr>
          </table>

        </div>



      </div>
    </div>
  </div>
</div>