<div class="row" id="table-mob-mod-conf-detail">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Mobile</h5>
            </div>
            <div class="card-body ">
                <div class="alert alert-danger" *ngIf="mobModConDetailError">

                    <span
                        *ngIf="mobModConDetailError.error !== undefined || mobModConDetailError.error.error !== undefined">
                        {{ this.mobModConDetailError.error.description}}
                    </span>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table" col=12>
                    <thead>
                        <tr>
                            <th>Ultima Versione Configurazione</th>
                            <th>Pattern di caduta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ detailResult.configVersion }}
                            </td>

                            <td class="col-sm-6">
                                <textarea rows="5" cols="30" readonly>
                                {{ detailResult.config.BoostFrontFall | json }}
                            </textarea>
                            </td>

                        </tr>
                    </tbody>
                    <!--                     <tfoot>
                        <button type="button" class="btn btn-outline-#e26868" (click)="dismissTable()">Close</button>
                    </tfoot> -->
                </table>
            </div>
        </div>
    </div>
</div>
