<div class="container">
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>DS_UserNameApp</th>
                <th>DS_UserAliasApp</th>
                <th>CD_PhoneNumber</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pieChartSetTable">
                <td>{{ p.userNameApp }}</td>
                <td>{{ p.userAliasApp }}</td>
                <td>{{ p.phoneNumber }}</td>
                
            </tr>
        </tbody>
    </table>
    

</div>
</div>