<div class="card" *ngIf="userArraySelected" id="card-usercolor-info">
    <div class="card-header ">
        <h5 class="card-title">Dettaglio {{labelPie}}</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead>
                    <th>USERNAME</th>
                    <th>NOME COGNOME</th>
                    <th>TELEFONO</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of userArraySelected">
                        <td>{{ p.usernameApp }}</td>
                        <td>{{ p.userAliasApp }}</td>
                        <td>{{ p.phoneNumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>