<div class="row" *ngIf="barChartError">
    <div class="col">
        <div class="alert alert-danger">
            {{ barChartError }}
        </div>
    </div>
  </div>

<div class="row">
    <div class="col">
        <div class="card ">
            <div class="card-header ">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Allarmi Storici</h5>
                        <p class="card-category"></p>
                    </div>
                </div>
                <div class="card-body ">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>