

<div class="card w-50">
    <div class="card-header" style="text-align: center">
      <img style="max-width: 20%" src="/assets/img/valtellina_logo.png" />
      <h5 class="card-title">
        Login
      </h5>
    </div>
    <div class="card-body">
      
<div class="row">
  <div class="col">
      <div class="alert alert-danger" *ngIf="loginError">
        
        <span *ngIf="loginError.error !== undefined || loginError.error.error !== undefined">
          {{ this.loginError.error.description}}
        </span>
      
      </div>
  </div>
</div>
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                placeholder="Username" name="username" [(ngModel)]="login.username" #email="ngModel" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                name="password" [(ngModel)]="login.password" #password="ngModel" required minlength="1" maxlength="10">
        </div>
        <button type="submit" class="btn btn-primary btn-round" [disabled]="!loginForm.valid">Login</button>
    </form>
    </div>
  </div>

  