<div class="row" *ngIf="mobModConError">
    <div class="col">
        <div class="alert alert-danger">
            {{ mobModConError }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Configurazione modelli mobile</h5>
            </div>
            <div class="card-body ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modello</th>
                            <th>Vers.Modello</th>
                            <th>Dettaglio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of mobModConfTableArray">
                            <td>{{ m.cdModelBrand }}</td>
                            <td>{{ m.cdModel }}</td>
                            <td>{{ m.cdModelVersion }}</td>
                            <td><button class="btn btn-primary" (click)="seeDetail(m.idModel)">Dettaglio</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row" *ngIf="mobModConfDetailSelected!=null">
            <div class="col">

                <app-mob-mod-conf-detail [detailResult]="mobModConfDetailSelected"></app-mob-mod-conf-detail>

            </div>
        </div>

    </div>
</div>