<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Configurazione modelli mobile</h5>
                <p class="card-category">Dati dispositivi:</p>
            </div>
            <div class="card-body ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CD_ModelBrand</th>
                            <th>CD_Model</th>
                            <th>CD_ModelVersion</th>
                            <th>Detail</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of mobModConfTableArray">
                            <td>{{ m.modelBrand }}</td>
                            <td>{{ m.model }}</td>
                            <td>{{ m.modelVersion }}</td>
                            <td><button class="btn btn-warning" (click)="seeDetail(m.id_Model)">Detail</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row" *ngIf="selectedMobModConf!=null">
            <div class="col">

                <app-mob-mod-conf-detail [idModel]="selectedMobModConf"></app-mob-mod-conf-detail>

            </div>
        </div>

    </div>
</div>