<div class="row" *ngIf="dashboardError">
  <div class="col">
      <div class="alert alert-danger">
          {{ dashboardError }}
      </div>
  </div>
</div>

<div class="row" id="rowDashboard">
  <div class="col-md-6" id="col1-dashboard">
    <div class="card" id="card1-dashboard">
      <div class="card-header ">
        <h5 class="card-title">Stato delle utenze</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="col2-dashboard">
    <app-pie-table [userArraySelected]="pieChartTableArray"></app-pie-table>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-alarms></app-alarms>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-bar-chart></app-bar-chart>
  </div>
</div>


